@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.profile-stats div {
    margin: 10px 0;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.card .avatar {
    /* background-image: url("https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg?auto=compress&cs=tinysrgb&w=400"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 15rem;
}

.card .avatar img {
    background-color: whitesmoke;
    width: 15rem;
    height: 15rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: translateY(55%);
}

.content {
    margin-top: 8rem;
}

.content-margin-top {
    margin-top: 4rem;
}

.container-mw {
    max-width: 900px;
}

/* Default styles for larger screens */
/* .w3-col.m7 {
    width: 58.33333%;
    margin: 0 auto;
} */
/* 
@media screen and (max-width: 1024px) {
    .w3-col.m7 {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .w3-col.m7 {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .w3-col.m7 {
        padding: 0 10px;
    }
} */